body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main {
  text-align: center;
  padding: 0 5px 0 5px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.inner {
  width: 1px;
  height: 1px;
}

.inner:hover {
  transform: scale(5);
}

@media only screen and (min-width: 400px) {
  .main {
    width: 512px;
  }

  .inner {
    width: 2px;
    height: 2px;
  }
}

@media only screen and (min-width: 600px) {
  .main {
    width: 768px;
  }

  .inner {
    width: 3px;
    height: 3px;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    width: 1024px;
  }

  .inner {
    width: 4px;
    height: 4px;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    width: 1280px;
  }

  .inner {
    width: 5px;
    height: 5px;
  }
}